@font-face {
    font-family: 'Fuente1';
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    /* Agrega más formatos según sea necesario, como .ttf, .otf, etc. */
}
@font-face {
    font-family: 'Fuente2';
    src: url('./fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    /* Agrega más formatos según sea necesario, como .ttf, .otf, etc. */
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hide{
    display: none !important;
}
.hidden{
    visibility: hidden;
}
nav{
    background-color: rgb(17 24 39);
    font-family: 'Fuente1', sans-serif;
    color: white;
}
.navbar-brand{
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.navbar-brand img{
    height: 48px;
    width: 100%;
    margin: 0 10px;
}
body{
    /* overflow: hidden; */
}
main{
    margin-top: 150px;
    display: flex;
    padding: 0 80px 20px 80px;
    min-width: 845px;
    min-height: calc(100vh - 150px);
    
}
.tab-content{
    /* min-width: 750px;
    max-width: 100%; */
    width: 100%;
    flex: 1;
    max-height: calc(100vh - 170px);
    min-width: 760px;
    display: flex;
    flex-direction: column;
}
.tabla_alumnos{
    overflow-x: auto;
}

#tabla_alumnos{
    border-spacing: 0 !important;
    border-collapse: separate !important;
}

#tabla_alumnos thead{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(31 41 55);
}
#tabla_alumnos thead th{
    border-color: white;
    border-bottom: 3px solid white;
}

#tabla_alumnos tr{
    /* border: none !important; */
} 
#tabla_alumnos tbody{
    /* border-top: 3px solid white; */
    /* display: block;
    height: 200px;
    overflow-y: auto;
    width: 100%; */
}

/* #tabla_alumnos tbody::-webkit-scrollbar {
    width: 8px;
    height: 8px;
} */

.tabla_buscador{
    height: 73px;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(31 41 55);
    border-bottom: 3px solid white;
}
.busqueda_filtro{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 41px;
    max-height: 41px;
}
.busqueda{
    position: relative;
    height: 100%;
}
.busqueda_icon{
    position: absolute;
    padding-left: 12px;
    display: flex;
    align-items: center;
    height: 100%;
}
.busqueda input{
    height: 100%;
    padding: 8px 8px 10px 40px;
    background-color: rgb(55 65 81);
    border: 1px rgb(75 85 99) solid;
    border-radius: 8px;
    color: white;
}
.busqueda input::placeholder{
    color: rgb(156 163 175);
}

.filter{
    height: 100%;
}
.btn-custom{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px rgb(75 85 99) solid;
    height: 100%;
    width: 112px;
    border-radius: 8px;
    color: rgb(156 163 175);
    position: relative;
}
.filtro_categoria{
    margin-top: 10px;
    margin-left: 10px;
}
.filtro_categoria ul{
    list-style-type: none;
}
.dropdown-menu{
    padding-left: 10px;
    color: white;
    background-color: rgb(55 65 81);
    top: 51px !important;
}

.dropdown-menu a{
    padding: 10px;
    width: 100%;
    margin: 4px 0 4px;
    height: 44px;
    cursor: pointer;
    display: flex;
}
.dropdown-menu a:hover{
    background-color: rgb(75 85 99);
}
.acciones_division{
    border-top: 1px solid rgb(75 85 99);
    display: flex;
}

.dropdown-menu.show{
    padding: 0;
}

.agregar_acciones{
    justify-content: end;
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    
}

.agregar_alumno button{
    display: flex;
    white-space: nowrap;
    gap: 10px;
    width: 160px;
    padding: 0 5px 0;
    justify-content: space-around;
    align-items: center;
    height: 41px;
    max-height: 41px;
}
.acciones button{
    height: 41px;
    max-height: 41px;
}
.agregar_alumno_datos{
    margin-top: 20px;
    margin-bottom: 20px;
}
.agregar_alumno_datos form{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#agregar_alumno{
    max-width: 200px;
}
.form-row{
    max-width: 100%;
    display: flex;
}
.col-md-4{
    flex: 0 0 25%;
    max-width: 25%;
    height: fit-content;
    white-space: nowrap;
    min-width: 150px;
}

.table{
    background-color: rgb(31 41 55);
    white-space: nowrap;
    margin-bottom: 0 !important;
}

.bg-warning{
    background-color: rgb(75 85 99) !important;
}
.invalid{
    background-color: rgb(182, 41, 41) !important;
}
thead tr th{
    padding: 12px 8px 12px !important;
}
tbody tr th,td{
    padding: 10px 10px 7px !important;
}
.row_edit span a{
    padding-top: 0;
}
.row_edit{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 7px 10px !important;
}

.btn-link{
    padding: 0px 6px 6px !important;
}
.btn_delete_contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.btn_delete svg{
    cursor: pointer;
}
.mensajeConfirmacion{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(1,1,1,0.5);
    z-index: 1031;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirmar{
    background-color: aliceblue;
    height: 150px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.confirmar_btns{
    display: flex;
    gap: 40px;
}
.confirmar_btns button{
    padding: 5px;
    cursor: pointer;
}
.confirmar_btns button:nth-child(1){
    background-color: rgb(108, 146, 199);
}
#Grupos header{
    border-bottom: 5px solid rgb(17 24 39);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.botones_sup{
    display: flex;
    gap: 20px;
}
.grupoUnderline{
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 35px;
}
#cancelarRegresarBtn{
    font-size: 15px;
    border-radius: 3px;
    margin-right: 6px;
}
#cancelarRegresarBtn .btn_estado{
    padding: 3px ;
}
#cancelarRegresarBtn svg{
    margin-top: 4px;
}
.crearGrupo_contenedor{
    position: relative;
}
.selectorCrear{
    position: absolute;
    width: 170px;
    height: 90px;
    background-color: rgb(72, 83, 102);
    color: white;
    padding: 7px;
    display: flex;
    gap: 13px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: -18px;
    top: 39px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.selector_letraGrupo{
    display: flex;
    align-items: center;
    gap: 18px;
}
.selector_letraGrupo label{
    margin: 0;
}
#letras{
    width: 50px;
    padding-left: 5px;
}
#agregarGrupoBtn_first{
    width: 85px;
    font-size: 13px;
    border-radius: 5px;
}
.btn_estado{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    max-height: 40px;
}

.estado2{
    background-color: rgb(99, 111, 139);
    color: white;
    
}
.btnGrupo_icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grupos{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.grupos_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
    position: relative;
    width: 100%;
}
.grupo_informacion{
    display: flex;
    flex: 1;
    justify-content: center;
}
.grupo_contenedor{
    background-color: rgb(47, 58, 83);
    width: 220px;
    height: 260px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grupo_contenedor:hover{
    transform: scale(1.05);
}
.grupo_letra{
    font-size: 150px;
    font-weight: 700;
    position: relative;
    top: -10px;
}
.grupo_cantidadAlumnos{
    padding-bottom: 30px;
}
.grupo_cantidadAlumnos p{
    margin: 0;
}
.grupoEliminar{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(1,1,1,0.5);
    border-radius: 10px;
    top: 0;
}
.checkboxEliminar{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.checkboxEliminar label{
    margin: 0;
}

.eliminarSeleccionados{
    position: fixed;
    background-color: red;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    right: 40px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.eliminarSeleccionados_span{
    position: absolute;
    top: -13px;
    right: -8px;
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#eliminarGrupoBtn_seleccion{
    margin-top: 3px;
}
.alumnosSinGrupo{
}
.alumnosSinGrupo_sup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alumnosSinGrupo_sup button .btn_estado{
    padding: 3px 5px 3px 2px;
}
#alumnosSinGrupo_lista {
    color: white;
    max-width: 650px;
}
#alumnosSinGrupo_lista tr, td, th{
    border-right: 1px solid white;
}

.listaGrupo_input{
    height: 20px;
    width: 20px;
    display: flex;
}
.listaGrupo_input input{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1250px) {
    main{
        padding: 0 40px 20px 40px;
    }
}
@media screen and (max-width: 840px) {
    /* .tab-content{
        margin-right: 20px;
    } */
}